/*#region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#main-page {
    display: grid;
    grid-template-rows: 10vh 10vh;
    grid-template-columns: 100vw;
    background-color: black;
}



#title-conatiner {
    grid-row: 1;
    grid-column: 1;
    background-image: linear-gradient(black, red);
    position: relative;
    display: flex;
}


#stephen, #stories, #ranked, #short {
    flex:1;
    font-size: 8vh;
    color:#2639eb;
}

#k, #i, #n, #g {
    flex:0.5;
    font-size: 8vh;
    animation-name: colour;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes colour {
    0% {
        color:red;}
    50% {
        color:green;
    }
    100% {
        color:red;
    }
}

#links-to-books {
    grid-row: 2;
    grid-column: 1;
    display:flex;
    margin-left:5vw;
    margin-right:5vw;
    margin-top: 0;
    margin-bottom: 0;
}

#ns, #sc, #nad, #ee, #jas, #bobd {
    flex:1;
    text-decoration: none;
    text-align: center;
    padding-top: 3vh;
}


#ns {
    background-color: yellow;
}

#sc {
    background-color: black;
    color:white;
}

#nad {
    background-color: blueviolet;
}

#ee {
    background-color: white;
    color:red;
}

#jas {
    background-color: orange;
}

#bobd {
    background-color: lightblue;
}

