/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
/*#endregion*/

/*#region main page*/
#main-page {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  height: 200vh;
}
/*#endregion*/

/*#region main page title*/
#main-page-title-area {
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  border: 1px solid white;
  border-radius: 3px;
  margin-right: 50vw;
}
#main-page-title {
  text-align: center;
  padding-top: 5vh;
  color: white;
}
/*#endregion*/

/*#region body of main page area*/
#body-of-main-page-area {
  width: 100vw;
  max-width: 100%;
  height: 150vh;
}

#body {
  height: 150vh;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: yellow;
}

#main-page-intro p {
  height: 30vh;
  width: 100%;
  background-color: red;
}
/*#endregion*/

/*#region black-seperator*/
.black-seperator {
  background-color: black;
  height:15vh;
}
/*#endregion*/ 

/*#region books*/
.book-pic-on-left {
  height:50vh;
  background-color: #383735;
  display: flex;
}

.book-pic-on-left img {
  height:100%;
  width:20%;
}
/*#endregion*/

/*#region mobile version*/
@media screen and (max-width: 600px) {
  #main-page-title-area, #main-page-title-area h1 {
    background-color: blue;
  }
}
/*#endregion*/
