/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
/*#endregion*/

/*#region main page*/
#main-page {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  height: 400vh;
}
/*#endregion*/

/*#region main page title*/
#main-page-title-area {
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  border: 2px solid white;
  border-radius: 3px;
  margin-right: 50vw;
}
#main-page-title {
  text-align: center;
  padding-top: 6vh;
  color: white;
}
/*#endregion*/

/*#region body of main page area*/
#body-of-main-page-area {
  width: 100vw;
  max-width: 100%;
  height: 400vh;
}

#body {
  height: 400vh;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: yellow;
}

#main-page-intro {
  border: 2px solid white;
}

#main-page-intro p {
  height: 30vh;
  width: 100%;
  background-color: #18181a;
  padding: 2vh;
  color: white;
  font-size: 20px;
}

#intro-p2 {
  text-align: center;
}

#intro-p2 p {
  font-size: 4vh;
}
/*#endregion*/

/*#region black-seperator*/
.black-seperator {
  background-color: black;
  height: 10vh;
}

.small-black-seperator {
  background-color: black;
  height: 5vh;
}
/*#endregion*/

/*#region books*/
.book-pic-on-left {
  height: 55vh;
  display: flex;
  border: 2px solid white;
  width: 100%;
}

.book-pic-on-right {
  height: 55vh;
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid white;
  width: 100%;
}

.image-area {
  width: 20%;
  max-height: 100%;
}

.list-area {
  width: 40%;
  max-height: 100%;
  background-color: #1a1a1b;
}

.list-area ul,
.list-area li {
  background-color: #1a1a1b;
  max-height: 50%;
  color: white;
}

#ns ul,
#ns li {
  font-size: 2.5vh;
  margin-top: 2.2vh;
  margin-left: 5vw;
}

#sc ul,
#sc li {
  font-size: 2.5vh;
  margin-top: 1.7vh;
  margin-left: 5vw;
}

#nad ul,
#nad li {
  font-size: 2.5vh;
  margin-left: 4vw;
  margin-top: 1.5vh;
}

#ee ul,
#ee li {
  font-size: 3vh;
  margin-left: 2vw;
  margin-top: 3.5vh;
}

#jas ul,
#jas li {
  font-size: 3vh;
  margin-left: 4vw;
  margin-top: 3.5vh;
}

#bobd ul,
#bobd li {
  font-size: 2.5vh;
  margin-top: 2.3vh;
  margin-left: 4vw;
}

.book-pic {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-width: 100%;
}
/*#endregion*/

/*#region mobile version*/
@media screen and (max-width: 600px) {
  #body {
    width: 64vw;
    margin-right: 18vw;
    margin-left: 18vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
  }

  #main-page-intro p {
    font-size: 15px;
  }

  #intro-p2 p {
    font-size: 3vh;
    padding-top: 80px;
  }

  .image-area {
    height: 60%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 40%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    font-size: 2vh;
    margin-top: 1.3vh;
    margin-left: 3vw;
  }

  #sc ul,
  #sc li {
    font-size: 1.8vh;
    margin-top: 1vh;
    margin-left: 2vw;
  }

  #nad ul,
  #nad li {
    font-size: 1.7vh;
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #ee ul,
  #ee li {
    font-size: 2.2vh;
    margin-left: 2vw;
    margin-top: 2vh;
  }

  #jas ul,
  #jas li {
    font-size: 2.5vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
  }

  #bobd ul,
  #bobd li {
    font-size: 2vh;
    margin-top: 1vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 500px) {
  #body {
    width: 64vw;
    margin-right: 18vw;
    margin-left: 18vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
    font-size: 5vh;
  }

  #main-page-intro p {
    font-size: 2.5vh;
    margin-top: 2vh;
  }

  #intro-p2 p {
    font-size: 3vh;
    padding-top: 70px;
  }

  .image-area {
    height: 60%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 40%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    font-size: 2vh;
    margin-top: 1vh;
    margin-left: 3vw;
  }

  #sc ul,
  #sc li {
    font-size: 1.8vh;
    margin-top: 1vh;
    margin-left: 2vw;
  }

  #nad ul,
  #nad li {
    font-size: 1.7vh;
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #ee ul,
  #ee li {
    font-size: 2.2vh;
    margin-left: 2vw;
    margin-top: 2vh;
  }

  #jas ul,
  #jas li {
    font-size: 2.5vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
  }

  #bobd ul,
  #bobd li {
    font-size: 1.8vh;
    margin-top: 1vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 400px) {
  #body {
    width: 84vw;
    margin-right: 8vw;
    margin-left: 8vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
    font-size: 5vh;
    padding-top: 2vh;
  }

  #main-page-intro p {
    font-size: 2.5vh;
  }

  #intro-p2 p {
    font-size: 4vh;
    padding-top: 7vh;
  }

  .image-area {
    height: 50%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 50%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    font-size: 2.5vh;
    margin-top: 1.5vh;
    margin-left: 2.5vw;
  }

  #sc ul,
  #sc li {
    font-size: 12.5px;
    margin-top: 1vh;
    margin-left: 2.5vw;
  }

  #nad ul,
  #nad li {
    font-size: 2.8vh;
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #ee ul,
  #ee li {
    font-size: 2.7vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
  }

  #jas ul,
  #jas li {
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 4vw;
  }

  #bobd ul,
  #bobd li {
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 350px) {
  #body {
    width: 84vw;
    margin-right: 8vw;
    margin-left: 8vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
    font-size: 5vh;
    padding-top: 2vh;
  }

  #main-page-intro p {
    font-size: 2.5vh;
  }

  #intro-p2 p {
    font-size: 4vh;
    padding-top: 7vh;
  }

  .image-area {
    height: 50%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 50%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    font-size: 2.5vh;
    margin-top: 1.5vh;
    margin-left: 2.5vw;
  }

  #sc ul,
  #sc li {
    font-size: 12.5px;
    margin-top: 1vh;
    margin-left: 2.5vw;
  }

  #nad ul,
  #nad li {
    font-size: 2.8vh;
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #ee ul,
  #ee li {
    font-size: 2.7vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
  }

  #jas ul,
  #jas li {
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 4vw;
  }

  #bobd ul,
  #bobd li {
    font-size: 2.9vh;
    margin-top: 1vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 300px) {
  #body {
    width: 84vw;
    margin-right: 8vw;
    margin-left: 8vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
    font-size: 5vh;
    padding-top: 2vh;
  }

  #main-page-intro p {
    font-size: 2.5vh;
  }

  #intro-p2 p {
    font-size: 3vh;
    padding-top: 13vh;
  }

  .image-area {
    height: 50%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 50%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    margin-top: 1.5vh;
    margin-left: 2.7vw;
  }

  #ns-list-1 li {
    font-size: 2.8vh;
  }

  #ns-list-2 li {
    font-size: 2.5vh;
  }

  #sc ul,
  #sc li {
    font-size: 12.5px;
    margin-top: 1vh;
    margin-left: 2.5vw;
  }

  #nad ul,
  #nad li {
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #nad-list-1 li {
    font-size: 2.5vh;
  }

  #nad-list-2 li {
    font-size: 2.5vh;
  }

  #ee ul,
  #ee li {
    font-size: 2.7vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
  }

  #jas ul,
  #jas li {
    font-size: 2.9vh;
    margin-top: 2vh;
    margin-left: 4vw;
  }

  #bobd ul,
  #bobd li {
    margin-top: 1vh;
    margin-left: 4vw;
  }

  #bobd-list-1 li {
    font-size: 2.6vh;
  }

  #bobd-list-2 li {
    font-size: 2.8vh;
  }
}

@media screen and (max-width: 250px) {
  #body {
    width: 84vw;
    margin-right: 8vw;
    margin-left: 8vw;
  }

  #main-page-title-area,
  #main-page-title-area h1 {
    background-color: blue;
    font-size: 5vh;
    padding-top: 2vh;
  }

  #main-page-intro p {
    font-size: 2.3vh;
  }

  #intro-p2 p {
    font-size: 2.5vh;
    padding-top: 15vh;
  }

  .image-area {
    height: 50%;
    max-height: 60%;
    width: 100%;
  }

  .list-area {
    height: 50%;
    max-height: 50%;
    width: 50%;
  }

  .book-pic-on-left {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }

  .book-pic-on-right {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 100%;
  }
  .list-area ul,
  .list-area li {
    background-color: #1a1a1b;
    max-height: 50%;
    color: white;
  }

  #ns ul,
  #ns li {
    margin-top: 1.5vh;
    margin-left: 2.9vw;
  }

  #ns-list-1 li {
    margin-top: 1.4vh;
    font-size: 2.6vh;
  }

  #ns-list-2 li {
    font-size: 2.2vh;
  }

  #sc ul,
  #sc li {
    margin-top: 1vh;
    margin-left: 2.5vw;
  }

  #sc-list-1 li {
    font-size: 2.3vh;
  }

  #sc-list-2 li {
    font-size: 2.4vh;
  }

  #nad ul,
  #nad li {
    margin-left: 3vw;
    margin-top: 1vh;
  }

  #nad-list-1 li {
    font-size: 2.3vh;
  }

  #nad-list-2 li {
    font-size: 2.3vh;
  }

  #ee ul,
  #ee li {
    margin-top: 2vh;
    margin-left: 3vw;
  }

  #ee-list-1 li {
    font-size: 2.6vh;
  }

  #ee-list-2 li {
    font-size: 2.5vh;
  }

  #jas ul,
  #jas li {
    margin-top: 2vh;
    margin-left: 4vw;
    margin-right: 1vw;
  }

  #jas-list-1 li {
    font-size: 2.6vh;
  }

  #jas-list-2 li {
    font-size: 2.9vh;
  }

  #bobd ul,
  #bobd li {
    margin-top: 1vh;
    margin-left: 4vw;
    margin-right: 1vw;
  }

  #bobd-list-1 li {
    font-size: 2.4vh;
  }

  #bobd-list-2 li {
    font-size: 2.7vh;
  }
}
/*#endregion*/
